<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers.CalendarMapper">
    <sql id="datetime">
        <bind name="searchDate" value="'%'+todo_date+'%'"/>
        where todo_date like #{searchDate}
    </sql>

    <!-- 해당 달의 데이터 가져오기 ( 반복 x 일정 ) -->
    <select id="getMonthDataD" resultType="vo.ScheduleVO">
        select *
        from todo_dispo
        <include refid="datetime" />
        and id = #{id}
    </select>

    <!-- 해당 달의 데이터 가져오기 ( 반복 일정 ) -->
    <select id="getMonthDataE" resultType="vo.ScheduleVO">
        select *
        from todo_every
        <include refid="datetime" />
        and id = #{id}
    </select>


    <!-- 해당 일의 데이터 가져오기 -->
    <select id="getDetailDataD" resultType="vo.ScheduleVO">
        select *
        from todo_dispo
        where todo_date = #{todo_date}
        and id = #{id}
    </select>

    <!-- 해당 일의 데이터 가져오기 (반복) -->
    <select id="getDetailDataE" resultType="vo.ScheduleVO">
        select *
        from todo_every
        where todo_date = #{todo_date}
          and id = #{id}
    </select>


    <!-- 일정 등록 -->
    <insert id="insertD">
        insert into todo_dispo(id, todo_content, todo_date)
        values(#{id}, #{todo_content}, #{todo_date})
    </insert>

    <!-- 일정 등록 (반복) -->
    <insert id="insertE">
        insert into todo_every(id, todo_content, todo_date)
        values(#{id}, #{todo_content}, #{todo_date})
    </insert>
</mapper>