main {
    width: 800px;
    height: 600px;
    margin: calc(((100vh - 600px) / 2) + 35px) auto 0;
    box-shadow: 0px 0px 20px rgb(118, 118, 118);
    background-color: white;
    padding: 20px;
    position: relative;
}

.board_title {
    width: 70%;
    height: 50px;
    margin: 0 auto;
    line-height: 50px;
    font-size: 2rem;
}

.writer_info_box {
    width: 60%;
    margin: 10px auto 0;
    height: 30px;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.writer_info_box > span {
    height: 100%;
    line-height: 30px;
    font-size: 1.4rem;
    text-align: right;
}

.writer_info_box > .info {
    width: 30%;
}

.writer_info_box > .info_answer {
    width: 40%;
}

.board_content {
    width: 70%;
    margin: 10px auto 0;
    height: 200px;
    padding: 15px;
    font-size: 1.4rem;
    overflow: auto;
    border: 1px solid black;
}

/* 댓글 부분 */
.comment_container {
    width: 80%;
    height: 260px;
    margin: 10px auto 0;
}

.comment_container > .comment_h {
    width: 80%;
    height: 30px;
    border-bottom: 1px solid black;
    font-size: 1.6rem;
    line-height: 30px;
    margin: 0 auto;
}

.comment_area {
    width: 80%;
    height: 100px;
    margin: 5px auto 0;
    padding: 5px;
    border-radius: 10px;
    overflow: auto;
    border: 1px solid rgba(0, 0, 0, 0.7);
}

.comment_box {
    width: 100%;
    height: 20px;
    display: flex;
    gap: 10px;
    font-size: 1.3rem;
}

.comment_id {
    height: 100%;
    line-height: 20px;
    text-align: right;
}

.comment_text {
    height: 100%;
    line-height: 20px;
}

.write_comment {
    width: 80%;
    height: 70px;
    margin: 10px auto 0;
    position: relative;
}

.write_comment > p {
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 1.3rem;
}

.write_comment > input {
    width: 100%;
    height: 25px;
    padding: 5px;
    margin-top: 5px;
    font-size: 1.3rem;
}

.write_comment > span {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-color: black;
    color: white;
}

.write_comment > span:hover {
    cursor: pointer;
    opacity: 0.5;
}



/* 수정하기 버튼 */
.change_btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 1.3rem;
    background-color: black;
    color: white;
}

.change_btn:hover {
    cursor: pointer;
    opacity: 0.5;
}



/* 글 수정 팝업 */
#write_container {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.write_box {
    width: 400px;
    height: 500px;
    position: absolute;
    top: calc((100% - 500px) / 2);
    left: calc((100% - 400px) / 2);
    background-color: white;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.write_box > p {
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 2rem;
}

.write_box > input:not(:last-of-type) {
    width: 80%;
    height: 30px;
    padding: 5px;
    font-size: 1.3rem;
}

.write_box > div {
    width: 80%;
    height: 30px;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
}

.write_box > div > span {
    width: 30%;
    height: 100%;
    line-height: 30px;
    text-align: center;
}

.write_box > div > input {
    width: 60%;
    height: 100%;
    padding: 5px;
}

.write_box > textarea {
    width: 80%;
    height: 100px;
    padding: 5px;
    font-size: 1.4rem;
}

.write_box > input:last-of-type {
    width: 80%;
    height: 40px;
    font-size: 1.6rem;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 40px;
}

.write_box > input:last-of-type:hover {
    cursor: pointer;
    opacity: 0.5;
}



#close_btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 1.3rem;
}

#close_btn:hover {
    cursor: pointer;
    opacity: 0.5;
}